# Question 1: Average Temp by Season

###Compute the average temperature by season ('season_desc'). (The temperatures are numbers between 0 and 1, but don't worry about that. Let's say that's the Shellman temperature scale.)

In [44]:
from pandas import Series, DataFrame

In [45]:
import pandas as pd

In [46]:
import numpy as np

In [47]:
weather = pd.read_table('daily_weather.tsv')

In [48]:
stations = pd.read_table('stations.tsv')

In [49]:
usage = pd.read_table('usage_2012.tsv')

In [50]:
newseasons = {'Summer': 'Spring', 'Spring': 'Winter', 'Fall': 'Summer', 'Winter': 'Fall'}

In [51]:
weather['season_desc'] = weather['season_desc'].map(newseasons)

In [52]:
pd.pivot_table(weather, 'temp', 'season_desc', aggfunc=np.average)

season_desc
Fall      0.419368
Spring    0.554557
Summer    0.711445
Winter    0.321700
Name: temp, dtype: float64

#Question 2: Number of Rentals by Month

###Various of the columns represent dates or datetimes, but out of the box pd.read_table won't treat them correctly. This makes it hard to (for example) compute the number of rentals by month. Fix the dates and compute the number of rentals by month.

In [53]:
weather['Month'] = pd.DatetimeIndex(weather.date).month

In [54]:
pd.pivot_table(weather, 'total_riders', 'Month', aggfunc=np.sum)

Month
1      96744
2     103137
3     164875
4     174224
5     195865
6     202830
7     203607
8     214503
9     218573
10    198841
11    152664
12    123713
Name: total_riders, dtype: int64

#Question 3: Rental Variance by Temperature

###Investigate how the number of rentals varies with temperature. Is this trend constant across seasons? Across months?

In [71]:
pd.concat([weather['temp'], weather['total_riders']], axis=1).corr()

                  temp  total_riders
temp          1.000000      0.713793
total_riders  0.713793      1.000000

In [73]:
pd.concat([weather['Month'], weather['total_riders']], axis=1).corr()

                 Month  total_riders
Month         1.000000      0.266502
total_riders  0.266502      1.000000

#Question 4: User Data

###There are various types of users in the usage data sets. What sorts of things can you say about how they use the bikes differently?

In [74]:
weather.head()

,date,weekday,season_code,season_desc,is_holiday,is_work_day,weather_code,weather_desc,temp,subjective_temp,humidity,windspeed,no_casual_riders,no_reg_riders,total_riders,Month
0,2012-01-01,0,1,Winter,0,0,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.370000,0.375621,0.692500,0.192167,686,1608,2294,1
1,2012-01-02,1,1,Winter,1,0,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.273043,0.252304,0.381304,0.329665,244,1707,1951,1
2,2012-01-03,2,1,Winter,0,1,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.150000,0.126275,0.441250,0.365671,89,2147,2236,1
3,2012-01-04,3,1,Winter,0,1,2,"Mist + Cloudy, Mist + Broken clouds, Mist + Fe...",0.107500,0.119337,0.414583,0.184700,95,2273,2368,1
4,2012-01-05,4,1,Winter,0,1,1,"Clear, Few clouds, Partly cloudy, Partly cloudy",0.265833,0.278412,0.524167,0.129987,140,3132,3272,1

In [78]:
pd.concat([weather['temp'], weather['no_casual_riders'], weather['no_reg_riders']], axis=1, keys=['Temp', 'Non-Regulars', 'Regulars']).corr()

              Temp  Regulars   Casuals
Temp      1.000000  0.542253  0.607425
Regulars  0.542253  1.000000  0.274984
Casuals   0.607425  0.274984  1.000000

###As the temp is higher, Regulars are more likely to ride.

In [80]:
pd.concat([weather['is_work_day'], weather['no_casual_riders'], weather['no_reg_riders']], axis=1, keys=['Is_Workday', 'Non-Regulars', 'Regulars']).corr()

              Is_Workday  Non-Regulars  Regulars
Is_Workday      1.000000     -0.539919  0.437003
Non-Regulars   -0.539919      1.000000  0.274984
Regulars        0.437003      0.274984  1.000000

###Regulars have a much higher usage rate on Working Days.

In [83]:
pd.concat([weather['is_holiday'], weather['no_casual_riders'], weather['no_reg_riders']], axis=1, keys=['Is_Holiday', 'Non-Regulars', 'Regulars']).corr()

              Is_Holiday  Non-Regulars  Regulars
Is_Holiday       1.00000      0.029720 -0.164190
Non-Regulars     0.02972      1.000000  0.274984
Regulars        -0.16419      0.274984  1.000000

###Weak correlation of Regular rider data during Holiday dates.